/* Navigation Bar */
.nav{
    display: flex;
    align-items: center;
    width: 1120px;
    justify-content: space-between;
    margin: 10px auto;
}
.nav svg{
    color: #ff385c;
}
/* Search Bar */
.search-bar{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
    width: 300px;
    height: 48px;
    padding-left: 8px;
    border-radius: 40px;
}
.search-bar input{
    border: none;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    width: 100%;
    padding-right: 10px;
}
.search-bar svg {
    background-color: #ff385c;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
/* Menu Bar */
.menu-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 251px;
}
.menu-bar a{
    padding: 8px;
    background-color: transparent;
    border: none;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.menu-bar svg{
    color: black;
    height: 16px;
    width: 16px;
    
}
.menu-box{
    display: flex;
    color: black;
    align-items: center;
    padding: 5px ;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 10px;
}
.menu-box svg{
    height: 16px;
    width: 16px;
    margin-left: 7px;
}
hr{
    width: 100%;
    opacity: 0.4;
    margin: 0;
}


.container{
    margin: auto;
    margin-top: 30px;
    width: 1120px;
    font-family: 'Poppins', sans-serif;
}
/* Heading */
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}
.head-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.head-desc a{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-left: 22px;
}
.desc-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc-cont p{
    margin: 0;
    margin-left: 7px;
}
.desc-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc-btns a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}
.desc-btns a svg{
    margin-right: 4px;
}

/* Image Section */
.image-box{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.left-img img{
    width: 560px;
    height: 310px;
    border-radius: 20px 0 0 20px;
}

.right-imgs{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    gap: 4px;
}
.right-imgs img{
    width: 272px;
    height: 150px;
}


.content{
    display: flex;
}

/* Room Details Container */
.details{
    width: 654px;
}
.detail-header{
    margin-top: 48px;
    margin-bottom: 48px;
    width: 654px;
    display: flex;
    justify-content: space-between;
}
.heading ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.heading ul li:first-child{
    list-style: none;
    margin: 0;
}
.heading ul li{
    margin-left: 20px;
    font-size: 13px;
}
.heading-img img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    
}
.image-icon{
    position: relative;
}
.save{
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Service section */
.services{
    padding-top: 32px;
    padding-bottom: 32px;
}
.service{
    display: flex;
    padding-left: 10px;
    margin-top: 25px;
}
.service:first-child{
    margin: 0;
}
.service-cont h5{
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight:bolder;
    margin: 0;
}
.service-cont p{
    font-size: 14px;
    color: rgb(113,113,113);
    font-weight: 300;
    margin: 0;
    width: 670px;
}

/* Aircover card */
.aircover, .description, .bedrooms, .offers{
    margin-top: 32px;
    margin-bottom: 32px;
}
.aircover img{
    width: 125px;
    height: 26px;
    margin-bottom: 16px;
}
.aircover p{
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}
.aircover a{
    color: black;
}
.description a{
    color: black;
    display: flex;
    align-items: center;
}
 .description p{
    font-size: 14px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 16px;
 }

 /* Bedrooms card */
 .rooms-cards{
    display: flex;
    margin-top: 20px;
 }

 .room{
    border: 1px solid rgb(221,221,221);
    padding: 24px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
 }
 .bedrooms h4{
    margin: 0;
 }
 .room svg{
    margin-bottom: 16px;
 }
 .room p{
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
 }
 .bedrooms h3, .bedrooms h4{
    font-weight: 700 !important;
 }
  .m {
      margin-left: 10px;
  }
/* 
  Services section */
.offers-list{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: start;
}
.offer{
    display: flex;
    align-items: center;
}
.w{
    width: 280px;
}
.offer svg{
    margin-right: 10px;
    font-weight: bold;
}
.offer h4{
    width: 100%;
    font-size: 15px;
    font-weight: 100 !important;
    margin: 0;
    color: rgb(94, 92, 92);
}
.btn-showall{
    padding: 20px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 12px;
    margin-top: 30px;
}

/* Price Card section */
.price-card{
    width: 372px;
    height: 461px;
    border: 1px solid rgba(221,221,221);;
    border-radius: 20px;
    padding: 20px;
    margin-left: 80px;
    margin-top: 30px;
    position: sticky;
    top: 80px;
    scroll-margin-top: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.amount{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-top: 25px;
    font-size: 15px;
}
.amount div{
    display: flex;
    align-items: center;
}
.amount div h3{
    font-weight: bold;
    margin: 0;
}
.rtngs p{
    margin: 0;
    font-size: 13px;
    padding-left: 5px;
}
.rtngs a{
    font-size: 13px;
}
.tab{
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.checks{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
}
.checkin{
    width: 100%;
    padding: 10px 8px;
}
.checkout{
    border-left: 1px solid black;
    width: 100%;
    padding: 10px 8px;
}
.checkin p, .checkout p{
    margin: 0;
    font-weight: 500;
}
.guest{
    padding: 10px 8px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.4px solid black;
    border-radius: 0 0 10px 10px;
}
.guest svg {
    padding: 10px 8px;
}
.guest div p{
    margin: 0;
    font-weight: 500;
}
.res-btn{
    color: white !important;
    background-color: #ff385c;
    border: none;
    width: 100%;
    height: 47px;
    border-radius: 7px;
    margin-top: 20px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-top: 25px;
    font-size: 15px;
}
.s-fee{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-top: 25px;
    font-size: 15px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-top: 25px;
    font-size: 15px;
}
.price a,.s-fee a, .total a {
    color: black;
    font-weight: 500;
}
.price p, .s-fee p, .total p{
    margin: 0;
    font-weight: 500;
}


/* Comments section */
.comments{
    margin-top: 3rem;
}
.ratings-count{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.ratings-count svg{
    margin-right: 10px;
}

.ratings-count h1{
    margin: 0;
}
.ratings{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}
.rating p{
    margin: 0;
    font-weight: 200;
    color: rgb(75, 75, 75);
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}
.line{
    border: 2.5px solid rgb(34, 34, 34, 1);
    width: 152px;
    margin-right: 10px;
    border-radius: 10px;
    margin-left: 200px;
}
.bar p{
    font-weight: 200;
    margin: 0;
    color: rgb(75, 75, 75);
}

/* Reviews */
.reviews{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-icon{
    display: flex;
    align-items: center;
}
.user-icon img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.name{
    margin-left: 10px;
}
.name p{
    font-size: 12px;
    margin: 0 !important;
}
.left-reviews div p, .right-reviews div p{
    width: 500px;
    font-weight: 300;
    margin: 25px 0;
}